@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-span-highlight {
        @apply text-white border bg-sky-300 border-sky-500 rounded-xl p-0.5
    }

    .command {
        @apply text-pink-700 border bg-pink-500 border-pink-700 rounded-xl text-xl bg-opacity-50 pl-4 pr-4
    }
}

.custom-text {
    background: linear-gradient(90deg, rgba(13,217,192,1) 0%, rgba(5,120,244,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
